# Ignore common assets from language stats
*.css linguist-vendored
*.scss linguist-vendored
*.js linguist-vendored
*.html linguist-vendored
*.ttf linguist-vendored
*.woff linguist-vendored
*.woff2 linguist-vendored
# Force PHP language detection
*.php linguist-language=PHP

# (Optional) If you want to ensure Vue/JS are detected correctly too:
*.js linguist-language=JavaScript
*.vue linguist-language=Vue