# Ignore common assets from language stats
*.css linguist-vendored
*.scss linguist-vendored
*.js linguist-vendored
*.html linguist-vendored
*.ttf linguist-vendored
*.woff linguist-vendored
*.woff2 linguist-vendored